@import 'tailwindcss';

:root {
  --background: #ffffff;
  --secondary-bg: #fbfdfc;
  --foreground: #171717;
  --text-primary: #000000;
  --text-secondary: #8c979d;
  --border-color: #ebebeb;

  --bg-icon-stack: #161e1f;
  --bg-icon-frontend: #154fa6;
  --bg-icon-backend: #16803f;
  --bg-icon-database: #6510aa;
  --bg-icon-devops: #ca5b0e;
  --bg-icon-mobile: #b30b65;
  --bg-icon-tools: #0f8097;
}

@theme inline {
  --font-sans: var(--font-google-sans-flex), system-ui, sans-serif;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-border-default: var(--border-color);
  --color-secondary-bg: var(--secondary-bg);

  --color-icon-stack: var(--bg-icon-stack);
  --color-icon-frontend: var(--bg-icon-frontend);
  --color-icon-backend: var(--bg-icon-backend);
  --color-icon-database: var(--bg-icon-database);
  --color-icon-devops: var(--bg-icon-devops);
  --color-icon-mobile: var(--bg-icon-mobile);
  --color-icon-tools: var(--bg-icon-tools);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --secondary-bg: #101010;
    --foreground: #ededed;
    --text-primary: #ffffff;
    --text-secondary: #8c979d;
    --border-color: #353535;

    --bg-icon-stack: #161e1f;
    --bg-icon-frontend: #154fa6;
    --bg-icon-backend: #16803f;
    --bg-icon-database: #6510aa;
    --bg-icon-devops: #ca5b0e;
    --bg-icon-mobile: #b30b65;
    --bg-icon-tools: #0f8097;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
